* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body{
    background-color: antiquewhite;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar a {
    float: left;
    font-size: 1.5vw;
    color: white;
    text-align: center;
    padding: 2rem;
    text-decoration: none;
}

.teams {
    float: left;
    overflow: hidden;
}

.hover {
    font-size: 1.5vw;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding: 2rem;
}

.navbar a:hover,
.teams:hover .hover {
    background-color: red;
    cursor: pointer;
}

.select {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: 45%;
    width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.select a {
    float: none;
    color: black;
    padding: 1rem 2rem 1rem 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.select a:hover {
    background-color: #ddd;
}

.teams:hover .select {
    display: block;
}

#heading{
    text-align: center;
    color: rgb(182, 29, 29);
}

.img-group{
    display: flex;
    justify-content: center;
}

#intro{
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: justify;
}

#trophy{
    position:absolute;
    width: 15%;
}

#great-players{
    position: absolute;
    margin-left: 75%;
    width: 25%;
}